@model EventEaseBookingSystem.Models.Venue

@{
    ViewData["Title"] = "Create Venue";
}

<h1>Create Venue</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<hr />

<div class="row">
    <div class="col-md-6">

        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Capacity"></label>
                <input asp-for="Capacity" class="form-control" />
            </div>

            <!-- IMAGE UPLOAD -->
            <div class="form-group mb-3">
                <label>Select Venue Image</label>
                <input type="file" name="imageFile" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">
                Create Venue
            </button>

        </form>

    </div>
</div>

<br />

<a asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}